<mat-card class="app-card">
  <mat-card-header>
    <mat-card-title>Projeto Próprio (cadastro)</mat-card-title>
  </mat-card-header>
  <form class="app-form" (submit)="gravar($event, form)" #form="ngForm">
    <mat-card-content>
      <mat-form-field style="width: 20%; padding-left: 0.5em;">
        <input matInput placeholder="Identificação" name="NRIdentificado" [(ngModel)]="entity.NRIdentificado"
          #NRIdentificado="ngModel" required max="255" maxlength="255">
        <mat-error *ngIf="NRIdentificado.invalid">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 20%; padding-left: 0.5em;">
        <input matInput placeholder="Sigla" name="NRSigla" [(ngModel)]="entity.NRSigla" #NRSigla="ngModel" required max="10"
          maxlength="10">
        <mat-error *ngIf="NRSigla.invalid">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 55%; padding-left: 0.5em;">
        <input matInput placeholder="Nome" name="NRNome" [(ngModel)]="entity.NRNome" #NRNome="ngModel" required max="255"
          maxlength="255">
        <mat-error *ngIf="NRNome.invalid">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 20%; padding-left: 0.5em;">
        <input matInput [matDatepicker]="picker1" [(ngModel)]="entity.DTInicio" name="DTInicio" placeholder="Data de Inicio"
          required #DTInicio="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="DTInicio">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 20%; padding-left: 0.5em;">
        <input matInput [matDatepicker]="picker2" [(ngModel)]="entity.DTFim" name="DTFim" placeholder="Data de FIM"
          required #DTFim="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="DTFim">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 55%; padding-left: 0.5em;">
        <mat-select placeholder="Tipo" [(ngModel)]="entity.IDTipoProjeto" name="IDTipoProjeto" #IDTipoProjeto="ngModel"
          required>
          <mat-option *ngFor="let t of types" [value]="t.IDTipoProjeto">
            {{t.NRDescricao}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="IDTipoProjeto">Campo obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 55%; padding-left: 0.5em;">
        <input matInput placeholder="Especificador" name="NREspecificador" [(ngModel)]="entity.NREspecificador"
          #NREspecificador="ngModel" required max="255" maxlength="255">
        <mat-error *ngIf="NREspecificador.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <div class="app-button-row">
        <button mat-raised-button color="primary">Gravar</button>
        <button mat-raised-button (click)="routerConsulta()">Voltar</button>
      </div>
    </mat-card-actions>
  </form>

  <mat-divider></mat-divider>

</mat-card>