<mat-card class="app-card">
  <mat-card-header>
    <mat-card-title>Recursos Humanos</mat-card-title>
  </mat-card-header>
  <mat-tab-group>
    <mat-tab label="{{title}}">
      <form class="app-form" #form="ngForm" (submit)="gravar($event, form)" *ngIf="activeForm">
        <mat-card class="app-card">
          <mat-card-content>

            <mat-form-field style="width: 50%; padding-left: 0.5em;">
              <mat-select placeholder="Dispêndio" [(ngModel)]="entity.CDTipoDispendio" name="CDTipoDispendio"
                #CDTipoDispendio="ngModel" required>
                <mat-option *ngFor="let obj of dispendios | async" [value]="obj.CDTipoDispendio">
                  {{obj.NOTipoDispendio}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="CDTipoDispendio">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 30%; padding-left: 0.5em;" *ngIf="!naoPossuiCPF">
              <input matInput placeholder="CPF do Colaborador" name="NRCPFColaborador" [(ngModel)]="entity.NRCPFColaborador"
                #NRCPFColaborador="ngModel" required max="255" maxlength="255" [textMask]="{mask: maskCPF}">
              <mat-error *ngIf="NRCPFColaborador.invalid">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <mat-checkbox style="width: 20%; padding-left: 0.5em;" [(ngModel)]="naoPossuiCPF" name="naoPossuiCPF"
              (click)="limparCPF()">Não
              Possui CPF</mat-checkbox>
            <!-- final da linha -->

            <section *ngIf="naoPossuiCPF">
              <mat-form-field style="width: 100%; padding-left: 0.5em;">
                <input matInput placeholder="Nome da Pessoa" name="NRNomeColaboradorLocal" [(ngModel)]="NRNomeColaborador"
                  #NRNomeColaboradorLocal="ngModel" required max="255" maxlength="255" disabled>
                <mat-error *ngIf="NRNomeColaboradorLocal.invalid">{{msgObrigatorio.msg}}</mat-error>
              </mat-form-field>
              <div class="app-button-row">
                <button mat-raised-button color="primary" type="button" (click)="openDialog()">Adicionar Estrangeiro</button>
              </div>
            </section>
            <!-- final da linha -->

            <mat-form-field style="width: 50%; padding-left: 0.5em;">
              <mat-select placeholder="Nível de escolaridade" [(ngModel)]="entity.CDEscolaridade" name="CDEscolaridade"
                #CDEscolaridade="ngModel" required>
                <mat-option *ngFor="let obj of escolaridades | async" [value]="obj.CDEscolaridade">
                  {{obj.NOEscolaridade}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="CDEscolaridade">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 50%; padding-left: 0.5em;">
              <mat-select placeholder="Formação" [(ngModel)]="entity.CDFormacao" name="CDFormacao" #CDFormacao="ngModel"
                required>
                <mat-option *ngFor="let obj of formacoes | async" [value]="obj.CDFormacao">
                  {{obj.NOFormacao}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="CDFormacao">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <!-- final da linha -->

            <mat-form-field style="width: 100%; padding-left: 0.5em;" *ngIf="entity.NRFormacao === 'Outra'">
              <input matInput placeholder="Especificar formação" name="NRFormacaoEspecifica" [(ngModel)]="entity.NRFormacaoEspecifica"
                #NRFormacaoEspecifica="ngModel" required max="50" maxlength="50">
              <mat-error *ngIf="NRFormacaoEspecifica.invalid">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <!-- final da linha -->

            <mat-form-field style="width: 20%; padding-left: 0.5em;">
              <input matInput placeholder="Horas trabalhadas" name="NRHorasTrabalhadas" [(ngModel)]="entity.NRHorasTrabalhadas"
                #NRHorasTrabalhadas="ngModel" required max="8" maxlength="8">
              <mat-error *ngIf="NRHorasTrabalhadas.invalid">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 30%; padding-left: 0.5em;">
              <input matInput [matDatepicker]="picker1" [(ngModel)]="entity.DTInicioAtuacao" name="DTInicioAtuacao"
                placeholder="Período de atuação inicial" required #DTInicioAtuacao="ngModel">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="DTInicioAtuacao">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 30%; padding-left: 0.5em;">
              <input matInput [matDatepicker]="picker2" [(ngModel)]="entity.DTFinalAtuacao" name="DTFinalAtuacao"
                placeholder="Período de atuação final" required #DTFinalAtuacao="ngModel">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="DTFinalAtuacao">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 20%; padding-left: 0.5em;">
              <input matInput placeholder="Valor" name="VLRecurso" [(ngModel)]="entity.VLRecurso" #VLRecurso="ngModel"
                required max="20" maxlength="20" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
              <mat-error *ngIf="VLRecurso.invalid">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <!-- final da linha -->

            <mat-form-field style="width: 100%; padding-left: 0.5em;">
              <textarea matInput placeholder="Atuação no projeto" name="DSAtuacaoProjeto" [(ngModel)]="entity.DSAtuacaoProjeto"
                #DSAtuacaoProjeto="ngModel" required rows="1"></textarea>
              <mat-error *ngIf="DSAtuacaoProjeto.invalid">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <!-- final da linha -->

          </mat-card-content>
        </mat-card>
        <mat-card-actions style="width: 100%; margin-left: 0px;">
          <div class="app-button-row">
            <button mat-raised-button type="button" *ngIf="entity.IDDispendioRecursosHumano" (click)="novo()">Novo</button>
            <button mat-raised-button type="submit" color="primary">Salvar</button>
          </div>
        </mat-card-actions>
      </form>
      <mat-divider></mat-divider>
      <div class="mat-elevation-z8" style="margin-top: 3%">
        <table mat-table [dataSource]="entities" matSort>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="primary" (click)="preEdit(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="accent" (click)="visualizar(row)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteRow(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="NOTipoDispendio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Dispendio </th>
            <td mat-cell *matCellDef="let element"> {{element.NOTipoDispendio}} </td>
          </ng-container>

          <ng-container matColumnDef="NREstrangeiro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Colaborador </th>
            <td mat-cell *matCellDef="let element"> {{element.NREstrangeiro}} </td>
          </ng-container>

          <ng-container matColumnDef="NOEscolaridade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Escolaridade </th>
            <td mat-cell *matCellDef="let element"> {{element.NOEscolaridade}} </td>
          </ng-container>

          <ng-container matColumnDef="NOFormacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Formação </th>
            <td mat-cell *matCellDef="let element"> {{element.NOFormacao}} </td>
          </ng-container>

          <ng-container matColumnDef="DTInicioDTFim">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Período de Atuação </th>
            <td mat-cell *matCellDef="let element">
              {{element.DTInicioAtuacao | date:'dd/MM/yyyy'}} até {{element.DTFinalAtuacao | date:'dd/MM/yyyy'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="NRHorasTrabalhadas">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora Trabalhada </th>
            <td mat-cell *matCellDef="let element"> {{element.NRHorasTrabalhadas}} </td>
          </ng-container>

          <ng-container matColumnDef="VLRecurso">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.VLRecurso | currency:'BRL':'symbol':'0.0-2':'pt'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="Importar"> Content 2 </mat-tab>
  </mat-tab-group>
</mat-card>

<div class="app-button-row">
  <button mat-raised-button type="button" (click)="concluir()" color="primary">Concluir</button>
  <button mat-raised-button type="button" (click)="fechar()">Fechar</button>
</div>