<mat-toolbar color="primary">
  <mat-toolbar-row class="toobar">
    <div style="display: flex">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="title">SEPIN</div>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened role="navigation">
    <mat-list>
      <span *ngFor="let item of menus;">
        <mat-list-item class="link-menu" [ngClass]="getCssActive(item.router, item.childs)">
          <div class="menu-item" (click)="goPage(item.router)" *ngIf="!item.childs">
            <mat-icon matListIcon>{{item.icon}}</mat-icon>
            <h3 matLine>{{item.name}}</h3>
          </div>
          <div class="menu-item" (click)="toggleShowSubMenu(item)" *ngIf="item.childs">
            <mat-icon matListIcon>{{item.icon}}</mat-icon>
            <h3 matLine>{{item.name}}</h3>
            <mat-icon *ngIf="!item.showChilds">expand_less</mat-icon>
            <mat-icon *ngIf="item.showChilds">expand_more</mat-icon>
          </div>
        </mat-list-item>
        <span *ngFor="let child of item.childs;">
          <mat-list *ngIf="item.showChilds" style="padding-top: 0px">
            <mat-list-item class="link-menu">
              <div class="submenu-item" (click)="goPage(child.router, item)">
                <h5 matLine>{{child.name}}</h5>
              </div>
            </mat-list-item>
          </mat-list>
        </span>
      </span>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-sidenav-container class="app-container-child">
      <mat-sidenav [opened]="!sidenav.opened" mode="side" opened style="width: 60px; margin-right: 100px">
        <span *ngFor="let item of menus; index as i;">
          <button *ngIf="!item.childs" mat-icon-button routerLink="{{item.router}}" class="link-actions-icon" #rla="routerLinkActive"
            routerLinkActive="active" [color]="rla.isActive ? 'primary' : ''" (click)="setRoute(item.router)">
            <mat-icon>{{item.icon}}</mat-icon>
          </button>
          <span *ngIf="item.childs">
            <button mat-icon-button class="link-actions-icon" [matMenuTriggerFor]="menu" [ngClass]="getCssActive(item.router, item.childs)">
              <mat-icon>{{item.icon}}</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <span *ngFor="let child of item.childs;">
                <button mat-menu-item routerLink="{{child.router}}" #rla2="routerLinkActive" routerLinkActive="active"
                  (click)="setRoute(child.router)">
                  {{child.name}}
                </button>
              </span>
            </mat-menu>
          </span>
        </span>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>