<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>SEPIN</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav mode="side" opened style="width: 160px;">
    <a mat-raised-button routerLink="/projeto" class="link-actions" #rla1="routerLinkActive" routerLinkActive="active"
      [color]="rla1.isActive ? 'primary' : ''">Projeto</a>
    <a mat-raised-button routerLink="/formacao" color="basic" class="link-actions" #rla2="routerLinkActive"
      routerLinkActive="active" [color]="rla2.isActive ? 'primary' : ''">Formação</a>
    <a mat-raised-button routerLink="/area_aplicacao" color="basic" class="link-actions" #rla3="routerLinkActive"
      routerLinkActive="active" [color]="rla3.isActive ? 'primary' : ''">Área
      Aplicação</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- (click)="checkIsActive(rt)" #rt routerLinkActive="primary"  -->